@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100vh;
}

#root {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Mobile breakpoint */
@media (max-width: 1024px) {
  .app-root {
    flex-direction: column;
    position: relative;
    overflow: hidden;
    flex: 1;
    height: auto;
  }

  .sidebar {
    width: 100%;
    height: auto;
  }

  .app-logo {
    position: absolute;
    padding: 8px 8px 0 0;
    align-items: end;
    right: 0;
    z-index: 98;
  }

  .logo-subtext {
    display: none;
  }

  .menubar {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
    background-color: white;
    border-top: 1px solid #e5e7eb;
    z-index: 999;
    gap: 0;
    justify-content: space-evenly;
    padding: 8px 0;
    box-sizing: border-box;
  }

  .menu-item {
    flex-direction: column;
    font-size: 10px;
    gap: 4px;
  }

  .card-container {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 56px;
    gap: 10px;
    background-color: #0c365a;
    position: relative;
    overflow: auto;
  }

  .card-header {
    padding: 0 8px;
    color: white !important;
    gap: 10px;
    position: sticky;
    top: 0;
  }

  .card-tab {
    padding: 0 8px;
    color: white !important;
    position: sticky;
    top: 76px;
  }

  .card-content {
    flex-direction: column;
    align-items: center;
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .card-carousel {
    position: sticky;
    top: 116px;
    margin-bottom: 20px;
  }

  .card-info {
    width: 100%;
  }

  .card-actions {
    /* padding: 0 8px; */
    border-radius: 16px 16px 0 0;
    z-index: 99;
  }

  .card-details {
    background-color: white;
    padding: 16px;
    z-index: 99;
  }
}
